NTRIP_DOCKER_REGISTRY=Empty
NTRIP_DATAMOUNT=Empty
DB_CPU=24
DB_MEMORY=32GB
INGEST_CPU=32.0
INGEST_MEMORY=32GB

DB_USER=postgres
DB_PASSWORD=Password
DB_NAME=UREGA
DB_HOST=timescaledb
DB_PORT=5432
DB_STORE_OBSERVATIONS=True

GRAFANA_USER=grafana
GRAFANA_PASSWORD=Password
GRAFANA_ENABLE_SMTP=false
GRAFANA_SMTP_HOST=HOST_ADDRESS:PORT

MULTIPROCESSING_ACTIVE=True
MAX_READERS=9
READERS_PER_DECODER=1
CLEAR_CHECK=0.1
APPEND_CHECK=0.1

